*{
  margin: 0;
  padding: 0;
}
.navbar{
display: flex;
list-style: none;
margin-left: 20px;
margin-top: 10px;
gap: 100px;
cursor: pointer;
position: relative;
z-index: 1000;

}

a{
  text-decoration: none;
  color: rgb(61, 60, 60);
  font-size: x-small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /* start of dropdown */
.drop1{
  position: absolute;
  top: 30px;
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
  background-color: white;
}

.drop1 .slideL{
  padding-left: 110px;
}
.items1:hover .drop1{
  max-height: 400px;
}

span{
  font-size: small;
  color: rgb(69, 67, 67);
}

.drop2{
  position: absolute;
  top: 30px;
  background-color: white;
  
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
}

.drop2 .sldl{
  padding-left: 110px;
}
.items2:hover .drop2{
  max-height: 400px;
}

.drop3{
  position: absolute;
  top: 30px;
  background-color: white;
  
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
}
.drop3 .sdL{
  padding-left: 110px;
  
}
.items3:hover .drop3{
  max-height: 400px;
}

.drop4{
  position: absolute;
  top: 30px;
  background-color: white;
  
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
}
.drop4 .sidel{
  padding-left: 110px;
}
.items4:hover .drop4{
  max-height: 400px;
}
.drop5{
  position: absolute;
  top: 30px;
  background-color: white;
  
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
}
.drop5 .watchL{
  padding-left: 110px;
}
.items5:hover .drop5{
  max-height: 400px;
}

.drop6{
  position: absolute;
  top: 30px;
  background-color: white;
  
  margin-left:0;
right: 0;
width: 100%;
  display: flex;
  padding-left: 40px;
  gap: 40px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  box-shadow: 0 4px 10px rgb(2, 2, 2);
}
.drop6 .accL{
  padding-left: 110px;
}
.items6:hover .drop6{
  max-height: 400px;
}
.searchIcon{
  cursor: pointer;
}
.bagIcon{
  cursor: pointer;
}

.overlay{
  position: relative;
margin-top: 13px;
}
.overlay img{
  display: block;
  width: 100%;

}
.txt{
  position: absolute;
  top: 35%;
  color: white;
  margin-left:55% ;
  font-size: 50px;
}
.para{
  position: absolute;
  
 top: 50%;
  color: white;
  margin-left:55% ;

}
#btn{
  position: absolute;
  margin-left:55% ;  
top: 58%;
  color: white;
background-color: blue;
border-radius: 8px;
padding: 2px;
}

.foot{
  border: 1px solid black;
  margin-top: 3%;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 40px;
}
a{
  color: white;

}