*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;

}
h2{
    text-align: center;
    padding: 30px;
}
.container{
    width:80%;
margin:auto;

display:grid;


grid-template-columns: repeat(3,1fr);

gap:20px;
  
}
.product{
    text-align:center;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}


.product img{
width:150px;
height:150px;
object-fit:contain;
}
.product p{
font-weight:600;
}
.product button{
background:darkcyan;
color:white;
border:none;
padding:8px 15px;
border-radius:20px;
cursor:pointer;
}
 .product button:hover{

/* transform: translateY(-6px); */


box-shadow:0 10px 25px rgba(0,0,0,0.15);


background: black;

}
/*
.product:hover img{
transform:scale(1.1);
} */


.footer{
     margin-top: 3%;
  padding: 10px;
    display: flex;
    border: 1px solid rgb(232, 230, 230);
    background-color: rgb(232, 230, 230);
    justify-content: center;
    gap: 40px;
}

a{
    text-decoration: none;
    color: black;
    font-size: smaller;
}

#iconn{
    margin-left: 60%;
}

#back{
margin-left: 50%;
margin-top: 2%;
color: white;
background-color: black;
border-radius: 8px;
padding: 2px 4px;
}
